# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Data & Large Files
*.mol2
*.pdbqt
*.dlg
*.log
temp_uploads/*
!web_app/temp_uploads/.gitkeep

# IDEs
.vscode/
.idea/

# OS specific
Thumbs.db
Desktop.ini
.DS_Store